
#ThreeDee-viewer {
	float:left;
	position:relative;
	width:100%
}

.ThreeDee-canvas-wrapper {
	position:relative;
	width:100%;
	height:100%;
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}


#ThreeDee-file-loading {
/*
	position:absolute;
	left:90px;
	top:65px;
	display:block;
*/
	position: absolute;
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
}

#ThreeDee-file-loading img {
    width: auto !important;
}

#ThreeDee-cv {
	width:100%;
	display:block;
	border: 1px solid;
}


#ThreeDee-model-controls {
    position: absolute;
    width: 100%;
    height: 40px;
    float: left;
    left: 0;
    top: 0;
    background-color: #fff;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

#ThreeDee-model-controls a {
	display:inline-block;
	border:none;
	text-decoration:none;
	box-shadow:none;
	outline:0;
}

#ThreeDee-model-controls img {
	width:auto !important;
	height:auto !important;
	padding:3px 0px 3px 3px;
	border: 0;
}

#ThreeDee-model-controls-list {
	list-style-type: none;
	margin:0;
	padding:0;
	display:block;
}
#ThreeDee-model-controls-list li{
	display: inline-block;
	margin:3px;
}



.ThreeDee-box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.ThreeDee-button {
  transition: all 0.3s ease-out;
}

.ThreeDee-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.ThreeDee-overlay:target {
  color:black;
  visibility: visible;
  opacity: 1;
  z-index: 999999;
}

.ThreeDee-popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.ThreeDee-popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.ThreeDee-popup .ThreeDee-close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  box-shadow:none;
}
.ThreeDee-popup .ThreeDee-close:hover {
  color: #06D85F;
}
.ThreeDee-popup .ThreeDee-content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .ThreeDee-box{
    width: 70%;
  }
  .ThreeDee-popup{
    width: 70%;
  }
}

#ThreeDee-controls-help {
	list-style-type: circle;
	margin:0;
	padding:0;
	display:block;
}

.ThreeDee-model-controls img {
    display: inline-block;
} 

.ThreeDee-view3d-button {
	position:absolute;
	max-width:60px;
	cursor:pointer;
	background: rgba(255,255,255,0.5);
}

.ThreeDee-model-controls-list a {
    outline: none !important;
}